/* Your comment goes here */
@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

header{
   background-image: url(https://i.pinimg.com/originals/ba/52/bc/ba52bc2a53b48881279601c3dbe3ef37.jpg);
   background-size: cover;
   overflow:hidden;
   width: 97%;
   height: 200px;
   margin-bottom: -2em;

}
header h1{
   text-align: center;
   margin-left: 50px;
}

body {
    font-family: arial;
 }

.extra{
    color: #6d6865;
}
#idtest{
    color: #cb7575;
    font-weight: bold;
}
#BurgerChooser{
    background-color: #000000;
    color: aliceblue;
}
button:hover {
    background-color: greenyellow;
    cursor: pointer;
 }

 section {
    margin: 50px;
    margin-bottom: 20px;
    border-style: dotted;
 }

 
 button {
    margin: 20px;
    margin-left: 5em;
 }
 .Wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 33% 33% 33%;
 }
 .box{
    padding-left: 45px;
 }
 .a{
    grid-column: 1;
 }
 .b{
    grid-column: 2;
 }
 .c{
    grid-column: 3;
 }
 
 p,h2,h3,header {
    margin-left: 20px;
 }






